@import "tailwindcss";

:root {

  /* Main */
  --main-10: hsl(45, 85%, 90%);
  --main-50: hsl(45, 85%, 95%);
  --main-100: hsl(45, 69%, 85%);
  --main-150: hsl(45, 60%, 94%);
  --main-200: hsl(45, 50%, 75%);
  --main-300: hsl(45, 40%, 65%);
  --main-400: hsl(45, 30%, 55%);
  --main-450: hsl(45, 30%, 48%);
  --main-500: hsl(45, 20%, 45%);
  --main-600: hsl(45, 15%, 35%);
  --main-700: hsl(45, 10%, 25%);
  --main-800: hsl(45, 5%, 18%);
  --main-900: hsl(45, 3%, 12%);

  /* Primary */
  --primary-100: hsl(215, 60%, 95%);
  --primary-200: hsl(217, 70%, 85%);
  --primary-300: hsl(220, 80%, 70%);
  --primary-400: hsl(225, 90%, 55%);
  --primary-500: hsl(230, 95%, 45%);
  --primary-600: hsl(235, 80%, 35%);
  --primary-700: hsl(240, 70%, 25%);
  --primary-800: hsl(240, 60%, 15%);
  --primary-900: hsl(240, 50%, 8%);

  /* Supporting */
  --pink-100: hsl(350, 45%, 95%);
  --pink-200: hsl(350, 60%, 85%);
  --pink-300: hsl(350, 75%, 70%);
  --green-100: hsl(125, 30%, 90%);
  --green-200: hsl(135, 45%, 75%);
  --green-300: hsl(145, 60%, 60%);
  --yellow-100: hsl(50, 80%, 95%);
  --yellow-200: hsl(45, 90%, 80%);
  --yellow-300: hsl(40, 100%, 70%);
  --red-100: hsl(0, 50%, 95%);
  --red-200: hsl(0, 65%, 85%);
  --red-300: hsl(0, 80%, 70%);

  /* Semantic tokens */
  --background: var(--main-450);
  --foreground: var(--main-50);
  --card: var(--main-150);
  --card-foreground: var(--main-800);
  --popover: var(--main-50);
  --popover-foreground: var(--main-800);
  --primary: var(--main-100);
  --primary-foreground: var(--main-800);
  --secondary: var(--main-500);
  --secondary-foreground: var(--main-50);
  --muted: var(--main-400);
  --muted-foreground: var(--main-200);
  --accent: var(--main-200);
  --accent-foreground: var(--main-800);
  --destructive: hsl(0, 65%, 50%);
  --destructive-foreground: var(--main-50);
  --border: var(--main-300);
  --input: var(--main-300);
  --ring: var(--main-200);
  --radius: 0.5rem;

  --sidebar: var(--main-150);
  --sidebar-foreground: var(--main-800);
  --sidebar-primary: var(--main-500);
  --sidebar-primary-foreground: var(--main-50);
  --sidebar-accent: var(--main-100);
  --sidebar-accent-foreground: var(--main-800);
  --sidebar-border: var(--main-200);
  --sidebar-ring: var(--main-300);

  /* Frame variables */
  --top-frame-width: 2;
  --bottom-frame-width: 1;

  /* Services on Main */
  --wrapper-gap: 1rem;
  --service-panel-padding: 0.75rem;
  --service-panel-gap: .75rem;
  --service-button-small: 2rem;
  --service-button-padding: 0.40rem;
  --service-button-width: 2.2rem;
  --service-button-bg: hsl(from var(--main-800) h s l / 0.5);
  --service-button-price-panel: 0.85rem;

  /* service panel */
  --panel-padding: 0.65rem;

  @media (min-width: 768px) {
    --service-button-small: 3rem;
    --service-button-price-panel: 3rem;
  }
}

.dark {
  --background: var(--main-900);
  --foreground: var(--main-100);
  --card: var(--main-800);
  --card-foreground: var(--main-100);
  --popover: var(--main-800);
  --popover-foreground: var(--main-100);
  --primary: var(--main-300);
  --primary-foreground: var(--main-900);
  --secondary: var(--main-700);
  --secondary-foreground: var(--main-100);
  --muted: var(--main-700);
  --muted-foreground: var(--main-300);
  --accent: var(--main-600);
  --accent-foreground: var(--main-100);
  --border: var(--main-600);
  --input: var(--main-600);
  --ring: var(--main-400);
}

@theme inline {
  --font-sans: var(--font-lato);
  --font-serif: var(--font-cormorant-garamond);
  --font-logo: var(--font-red-hat-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: var(--main-900);
    --foreground: var(--main-50);
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* Logo */
/* Logo background gradient */
.logo-gradient {
  background: linear-gradient(to bottom,
      var(--main-10) 0%,
      var(--main-50) 20%,
      var(--main-50) 40%,
      var(--main-50) 50%,
      var(--main-10) 100%);
  background-clip: text;
  color: transparent;
}

/* logo background */
.logo-background {
  background: linear-gradient(to bottom,
      var(--main-100) 0%,
      var(--main-200) 50%,
      var(--main-300) 100%);
}

/* svg icons colors */
.primary {
  fill: var(--main-100);
}

.secondary {
  /* fill: var(--main-50); */
  fill: var(--main-900)
}

.icon-cheveron-left-circle,
.icon-cheveron-right-circle {
  width: 2rem;
  height: 2rem;
}

.icon-calendar {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-phone-ring {
  width: 1.5rem;
  height: 1.5rem;
}

/* index.html */
.hero-background-gradient {
  background: linear-gradient(
    to bottom,
    hsl(45, 90%, 97%) 0%,
    hsl(45, 85%, 88%) 25%,
    hsl(40, 75%, 78%) 50%,
    hsl(45, 85%, 88%) 75%,
    hsl(45, 90%, 97%) 100%
  );
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
}

/* Background gradient */
.radial-background {
  background: radial-gradient(circle at center,
      var(--main-200) 0%,
      var(--main-300) 25%,
      var(--main-400) 100%);
  min-height: 100vh;
  /* background-repeat: no-repeat; */
}

/* Main Services */

.service-panel-opened {
  flex-basis: clamp(15rem, 40svh, 20rem);
  flex-grow: 1;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.service-panel-closed {
  flex-basis: calc((var(--service-panel-padding) * 2) + var(--service-button-small));
  flex-grow: 0;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.service-panel-radius {
  border-radius: calc(((var(--service-panel-padding) * 2) + var(--service-button-width)) / 2);
}

.service-panel-gradient {
  background: linear-gradient(to bottom,
      var(--main-300) 0%,
      var(--main-400) 50%,
      var(--main-500) 100%);
}

.service-panel-margin {
  margin-left: calc(var(--service-button-small) + var(--service-panel-gap));
}


/* Services */

/* Price panel */
.price-panel {
  background-repeat: no-repeat;
  position: relative;

  >div>div {
    background: hsl(from var(--main-100) hsl / 1);
    backdrop-filter: blur(5px);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    inset: 0;
    /* background: linear-gradient(var(--main-100), var(--main-200)) border-box; */
    mask:
      linear-gradient(black 0 0) border-box,
      linear-gradient(black 0 0) padding-box;
    mask-composite: subtract;
  }

}

.price-panel-title {
  background: linear-gradient(100deg, var(--main-100) 0%, var(--main-200)50%, var(--main-100) 100%);
  background-clip: text;
  color: transparent;
}

.border-gradient {
  border: 1px solid;
  border-image-source: radial-gradient(circle at top left, var(--main-300), var(--main-400));
  border-image-slice: 1;
}

.price-panel-opened {
  /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-width)); */
  flex-basis: clamp(15rem, 40svh, 20rem);
  flex-grow: 1;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.price-panel-closed {
  flex-basis: calc((var(--panel-padding) * 2) + var(--service-button-price-panel));
  flex-grow: 0;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.desktop-gallery {
  --n: 1;
  /* number of rows*/
  --m: 5;
  /* number of columns */
  --g: 2px;
  /* control the gap */
  --f: .8;
  /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: 70vw;
  height: 70vh;
  max-width: 100%;
  /* aspect-ratio: 3/2; */
  grid-template-columns: repeat(var(--m), auto);

  img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: bottom center;
    cursor: pointer;
    filter: grayscale(60%);
    transition: .35s linear;

    &:hover {
      filter: grayscale(0);
      width: calc(35vh*var(--f)/var(--n));
      height: calc(100vw*var(--f)/var(--m));
    }
  }
}

.scroller {
  position: relative;
}

.scroller_inner {
  display: inline-flex;
  gap: 10px;
  width: max-content;
  will-change: transform;
  backface-visibility: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(calc(-50% - 5px), 0, 0);
  }
}


.scroller::before,
.scroller::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  pointer-events: none;
  z-index: 10;

  @media (min-width: 768px) {
    width: 100px;
  }

  @media (min-width: 1280px) {
    width: 200px;
  }

}

.scroller::before {
  left: 0;

}

.scroller::after {
  right: 0;
  /* background: linear-gradient(to left, var(--main-400), transparent); */

}

.hair-partner-logo::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  background: linear-gradient(var(--main-100), var(--main-500)) border-box;
  mask:
    linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}