@import "tailwindcss";

:root {

  /* Main */
  --main-10: hsl(45, 85%, 90%);
  --main-50: hsl(45, 85%, 95%);
  --main-100: hsl(45, 69%, 85%);
  --main-150: hsl(45, 60%, 94%);
  --main-200: hsl(45, 50%, 75%);
  --main-300: hsl(45, 40%, 65%);
  --main-400: hsl(45, 30%, 55%);
  --main-450: hsl(45, 30%, 48%);
  --main-500: hsl(45, 20%, 45%);
  --main-600: hsl(45, 15%, 35%);
  --main-700: hsl(45, 10%, 25%);
  --main-800: hsl(45, 5%, 18%);
  --main-900: hsl(45, 3%, 12%);

  /* Primary */
  --primary-100: hsl(215, 60%, 95%);
  --primary-200: hsl(217, 70%, 85%);
  --primary-300: hsl(220, 80%, 70%);
  --primary-400: hsl(225, 90%, 55%);
  --primary-500: hsl(230, 95%, 45%);
  --primary-600: hsl(235, 80%, 35%);
  --primary-700: hsl(240, 70%, 25%);
  --primary-800: hsl(240, 60%, 15%);
  --primary-900: hsl(240, 50%, 8%);

  /* Supporting */
  --pink-100: hsl(350, 45%, 95%);
  --pink-200: hsl(350, 60%, 85%);
  --pink-300: hsl(350, 75%, 70%);
  --green-100: hsl(125, 30%, 90%);
  --green-200: hsl(135, 45%, 75%);
  --green-300: hsl(145, 60%, 60%);
  --yellow-100: hsl(50, 80%, 95%);
  --yellow-200: hsl(45, 90%, 80%);
  --yellow-300: hsl(40, 100%, 70%);
  --red-100: hsl(0, 50%, 95%);
  --red-200: hsl(0, 65%, 85%);
  --red-300: hsl(0, 80%, 70%);

  /* Frame variables */
  --top-frame-width: 2;
  --bottom-frame-width: 1;

  /* Services on Main */
  --wrapper-gap: 1rem;
  --service-panel-padding: 0.75rem;
  --service-panel-gap: .75rem;
  --service-button-small: 0.875rem;
  --service-button-padding: 0.40rem;
  --service-button-width: 2.2rem;

  /* service panel */
  --panel-padding: 0.65rem;

  @media (min-width: 788px) {
    --service-button-small: 3rem;
  }
}

@theme inline {
  --font-sans: var(--font-lato);
  --font-serif: var(--font-cormorant-garamond);
  --font-logo: var(--font-red-hat-text)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* Logo */
/* Logo background gradient */
.logo-gradient {
  background: linear-gradient(to bottom,
      var(--main-10) 0%,
      var(--main-50) 20%,
      var(--main-50) 40%,
      var(--main-50) 50%,
      var(--main-10) 100%);
  background-clip: text;
  color: transparent;
}

/* logo background */
.logo-background {
  background: linear-gradient(to bottom,
      var(--main-100) 0%,
      var(--main-200) 50%,
      var(--main-300) 100%);
}

/* svg icons colors */
.primary {
  fill: var(--main-100);
}

.secondary {
  fill: var(--main-50);
}

/* index.html */
.hero-background-gradient {
  background: linear-gradient(to bottom,
      var(--main-50) 0%,
      var(--main-100) 20%,
      var(--main-200) 40%,
      var(--main-100) 50%,
      var(--main-50) 100%);
  background-clip: text;
  color: transparent;
}

/* Background gradient */
.radial-background {
  background: radial-gradient(circle at center,
      var(--main-200) 0%,
      var(--main-300) 25%,
      var(--main-400) 100%);
  min-height: 100vh;
}

/* Main Services */

.service-panel-opened {
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.service-panel-closed {
  flex-basis: calc((var(--service-panel-padding) * 2) + var(--service-button-small));
  flex-grow: 0;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.service-panel-radius {
  border-radius: calc(((var(--service-panel-padding) * 2) + var(--service-button-width)) / 2);
}

.service-panel-gradient {
  background: linear-gradient(to bottom,
      var(--main-300) 0%,
      var(--main-400) 50%,
      var(--main-500) 100%);
}

.service-panel-margin {
  margin-left: calc(var(--service-button-small) + var(--service-panel-gap));
}


/* Services */

/* Price panel */
.price-panel {
  background-repeat: no-repeat;
  position: relative;

  >div>div {
    background: hsl(from var(--main-100) hsl / 1);
    backdrop-filter: blur(5px);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    inset: 0;
    /* background: linear-gradient(var(--main-100), var(--main-200)) border-box; */
    mask:
      linear-gradient(black 0 0) border-box,
      linear-gradient(black 0 0) padding-box;
    mask-composite: subtract;
  }

}

.price-panel-title {
  background: linear-gradient(100deg, var(--main-100) 0%, var(--main-200)50%, var(--main-100) 100%);
  background-clip: text;
  color: transparent;
}

.border-gradient {
  border: 1px solid;
  border-image-source: radial-gradient(circle at top left, var(--main-300), var(--main-400));
  border-image-slice: 1;
}

.price-panel-opened {
  /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-width)); */
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;
  transition: flex-basis 500ms, flex-grow 500ms;
}

.price-panel-closed {
  flex-basis: calc((var(--panel-padding) * 2) + var(--service-button-small));
  flex-grow: 0;
  transition: flex-basis 500ms, flex-grow 500ms;
}